@use "variables";

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&family=Roboto&display=swap');

body {
    margin: 0;
    padding: 0;
  
    // Photo by <a href="https://unsplash.com/@brave4_heart?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Jigar Panchal</a> on <a href="https://unsplash.com/photos/a-black-and-green-background-with-hexagonal-shapes-o-D3p035Ou0?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>
    background-image: url(/img/background.webp);
    background-size: 100vw 100vh;

    // background-color: variables.$theme-lighter;
    
    font-family: 'Play', sans-serif;
    font-size: 14pt;
    overflow: hidden;
}

main {
    position: relative;
    max-width: 1440px;
    min-height: 90vh;
    // background-color: aliceblue;
    margin: auto auto;
    border: 1px solid variables.$theme-darker;
    box-shadow: 3px 3px 10px variables.$theme-dark;
    display: grid;
    grid-template-rows: auto auto;
    overflow: hidden;

    .sidebar {

        background: linear-gradient(160deg, lighten(variables.$theme-dark, 5%) 0%, variables.$theme-darker 30%, lighten(variables.$theme-darker, 20%) 100%);
        color: variables.$theme-lighter;
        padding: 0.5em;
        display: grid;
        width: 100%;
        grid-template-areas: "avatar title"
                             "bio bio"
                             "links links"
                             "social social";
        grid-template-columns: 130px auto;
        justify-content: center;

        a {
            color: variables.$theme-lighter;
            text-decoration: none;
        }

        .title { 
            grid-area: title;
            font-weight: bold;
            max-height: 1.5em;
            margin: auto 0;
            h1 {
                margin: 0;
            }
        }
        .avatar { 
            grid-area: avatar; 
            text-align: center;
        
            img {
                width: 100px;
                height: 100px;
                border-radius: 15px;
                border: 1px solid variables.$theme-darker;
                box-shadow: 3px 3px 5px variables.$theme-darker
            }
        }
        .short-bio { 
            display: none;
            font-size: 10pt;
            grid-area: bio; 
            // margin: 0.5em;
            text-align: center;
            font-size: 1.1em;
        }
        
        .links { 
            margin: 1em;
            grid-area: links;
            text-align: center; 
            a {
                color: variables.$theme-lighter;
                padding: 0.5em;
                text-decoration: none;
                background-color: variables.$theme-dark;
                border-radius: 5px;

                &:hover {
                    background-color: variables.$theme-lighter;
                    color: variables.$theme-dark;
                }
            }
        }
        .social { 
            display: none;
            grid-area: social; 
            text-align: center;
            margin: 1em 0;            
        }
    }

    .main-content-container {
        max-height: 95vh;
        overflow: auto;
    }

    .content {
        // Photo by <a href="https://unsplash.com/@aquaryus15?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Aquaryus15</a> on <a href="https://unsplash.com/photos/white-and-black-checkered-textile-j0TOma0mHdc?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>

        background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(200, 200, 200, 0.8)), url(/img/content-background.webp);
        height: 95vh;
        // max-height: 90vh;
        padding: 0 1em;
        overflow-y: auto;
        // padding-bottom: 5em;
    }
}

@media screen and (min-width: 768px) {
    main {
        grid-template-columns: 300px auto;
        grid-template-rows: auto;
        .sidebar {
            padding: 0;
            grid-template-areas: "title"
                                 "avatar"
                                 "bio"
                                 "links"
                                 "social";
            grid-template-columns: 300px;
            grid-template-rows: 50px 105px 4em 3em 3em;

            .title {
                text-align: center;
            }
            .short-bio {
                padding-bottom: 2em;
                display: block;
            }
        }
    }
}