// $theme-darker: #222831;
// $theme-dark: #393E46;
// $theme-light: #00adb5;
// $theme-lighter: #eeeeee;

// $theme-darker: #6096b4;
// $theme-dark: #93bfcf;
// $theme-light: #bdcdd6;
// $theme-lighter: #eee9da;

// $theme-darker: #3a4d39;
// $theme-dark: #4f6f52;
// $theme-light: #739072;
// $theme-lighter: #ece3ce;

$theme-darker: #1b262c;
$theme-dark: #0f4c75;
$theme-light: #3282b8;
$theme-lighter: #bbe1fa;
