<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shawn Grover Devlog</title>

    <link rel="stylesheet" href="/css/style.css">
</head>

<body>

    <main>
        <aside class="sidebar">
            <div class="title">
                <h1>Shawn Grover</h1>
            </div>
            <div class="avatar">
                <img src="/img/face_co.png" alt="Shawn Grover Avatar">
            </div>
            <div class="short-bio">
                A Canadian techie who likes finding solutions to non-trivial problems.
            </div>
            <div class="links">
                <a href="/">Home</a>
                <a href="/about.html">About</a>
                <a href="/">Contact</a>
            </div>
            <div class="social">
                Social Links
            </div>
        </aside>
        <div class="content">
            {main_content}
        </div>
    </main>

</body>

</html>